<h1> Browse by Genre </h1>

<ul class="list-group">
  <% @genres.each do |genre| %>
    <%= link_to genre_path(genre) do %>
      <li class="list-group-item"><%= genre.name %></br>
    <% end %>
  <% end %>
</ul>

<div class = "row">
  <div class="paginate-container">
     <%= paginate(@genres) %>
 </div>
</div>
