<h1> Browse by Cast Member </h1>

<ul class="list-group">
  <% @cast_members.each do |cast_member| %>
    <%= link_to cast_member_path(cast_member) do %>
      <li class="list-group-item"><%= cast_member.name %></br>
    <% end %>
  <% end %>
</ul>

<div class = "row">
  <div class="paginate-container">
     <%= paginate(@cast_members) %>
 </div>
</div>
