<h1> <%= @cast_member.name  %> </h1>

<div class = "container">
  <div class = "row">
    <div class="movie-display-container">

      <%= render partial: 'movies/movie', collection: @movies %>

    </div>
  </div>
  <div class = "row">
    <div class="paginate-container">
       <%= paginate(@movies) %>
   </div>
  </div>
</div>
