<div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 movie-box">
  <%= link_to movie_path(movie) do  %>
    <%= image_tag movie.poster, class: "thumbnail height-100 center-block" %>
    <span class="display-title center-block"> <%= movie.title %> </span>
  <% end %>
</div>
