// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.height-100 {
  height: 100px;
  margin-top: 25px;
}

.height-400 {
  height: 400px;
  margin: 30px;
}
